.game {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 1fr;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

.square {
    outline: none;

    display: block;

    background-color: aquamarine;
}

.square:hover {
    background-color: aqua;
}

.square:disabled {
    background-color: gray;
    color: red;
    font-weight: bold;
}